<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/notes.css') }}">
    <script src="https://kit.fontawesome.com/23b1dc6106.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar">
    <div class="navbar-left">
        <i id="hamburger-icon" class="fa-solid fa-bars fa-2xl" ></i>
    </div>
    <div class="navbar-title">{{ note.title }}</div>
    <div class="navbar-right">
        <img src="{{ url_for('static', filename='icons/profile.png') }}" alt="Profile" class="profile-pic">
    </div>
</nav>
<div class="content">
    <div class="menu-bar">
        <div class="menu-item"><a href="{{ url_for('default') }}"><span class="icon">🏠</span>Dashboard</a></div>
        <div class="menu-item"><a href="{{ url_for('tasks') }}"><span class="icon">✅</span>Tasks</a></div>
        <div class="menu-item"><a href="{{ url_for('get_notes') }}"><span class="icon">🗒️</span>Notizen</a></div>
        <div class="menu-item"><a href="/export"><span class="icon">📦</span>Export Data</a></div>
        <div class="menu-item"><a href="#"><span class="icon">📷</span>Change Image</a></div>
        <div class="menu-item"><a href="#"><span class="icon">⚙️</span>Account Settings</a></div>
    </div>
    <p>{{ note.content }}</p>
</div>

<script>
    document.getElementById("hamburger-icon").addEventListener("click", function () {
        const menuBar = document.querySelector(".menu-bar");
        if (menuBar.style.display === "none" || menuBar.style.display === "") {
            menuBar.style.display = "block";
        } else {
            menuBar.style.display = "none";
        }
    });
</script>
</body>
</html>