<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tasks.css') }}">
    <script src="https://kit.fontawesome.com/23b1dc6106.js" crossorigin="anonymous"></script>
    <title>To-Do Liste</title>

</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <i id="hamburger-icon" class="fa-solid fa-bars fa-2xl"></i>
        </div>
        <div class="navbar-title">To-Do List</div>
        <div class="navbar-right">
            <img src="{{ url_for('static', filename='icons/profile.png') }}" alt="Profile" class="profile-pic">
        </div>
    </nav>
    <div class="content">
        <div class="menu-bar">
            <div class="menu-item"><a href="{{ url_for('default') }}"><span class="icon">🏠</span>Dashboard</a></div>
            <div class="menu-item"><a href="{{ url_for('tasks') }}"><span class="icon">✅</span>Tasks</a></div>
            <div class="menu-item"><a href="{{ url_for('get_notes') }}"><span class="icon">🗒️</span>Notizen</a></div>
            <div class="menu-item"><a href="#"><span class="icon">📦</span>Export Data</a></div>
            <div class="menu-item"><a href="#"><span class="icon">📷</span>Change Image</a></div>
            <div class="menu-item"><a href="#"><span class="icon">⚙️</span>Account Settings</a></div>
        </div>
        <div class="tasks-container">
            <table class="task-table">
                <colgroup>
                    <col class="task-col" />
                    <col />
                    <col />
                    <col class="status-col" />
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <h3>Task</h3>
                        </th>
                        <th>
                            <h3>Due Date</h3>
                        </th>
                        <th>
                            <h3>Category</h3>
                        </th>
                        <th>
                            <h3>Status</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <form name="task-add" action="/tasks/add" method="post">
                        <tr>
                            <td class="text">
                                <input onblur="this.form.submit()" name="content" type="text" placeholder="Add Task" class="task-input">
                            </td>
                            <td class="date">
                                <input onblur="this.form.submit()" name="date" class="date-select" placeholder="" type="date">
                            </td>
                            <td class="category">
                                <select onchange="this.form.submit()" class="status-select category {{categories[0]}}" name="category">
                                    {% for category in categories %}
                                        <option value="{{ category }}">{{category | capitalize}}</option>
                                    {% endfor %}
                                </select></td>
                            <td class="status">
                                <select onchange="this.form.submit()" class="status-select" name="status">
                                    <option value="pending">📋 Pending</option>
                                    <option value="work-in-progress">🔄 Work in progress</option>
                                    <option value="completed">✅
                                        Completed</option>
                                </select>
                            </td>
                        </tr>
                    </form>
                    {% for task in tasks %}
                    <form name="task-form" action="/tasks/edit/{{ task._id }}" method="post">
                    <tr>
                        <td class="text">
                            <input onblur="this.form.submit()" name="content" type="text" value="{{ task.content }}" class="task-input">
                        </td>
                        <td class="date">
                            <input onblur="this.form.submit()" name="date" class="date-select" placeholder="" type="date" value="{% if task.date %}{{ task.date }}{% endif %}">
                        </td>
                        <td class="category">
                            <select onchange="this.form.submit()" class="status-select category {{task.category}}" name="category">
                                {% for category in categories %}
                                    <option value="{{ category }}" {% if task.category==category %}selected{% endif %}>{{category | capitalize}}</option>
                                {% endfor %}
                            </select></td>
                        <td class="status">
                            <select onchange="this.form.submit()" class="status-select" name="status">
                                <option value="pending" {% if task.status=='pending' %}selected{% endif %}>📋 Pending
                                </option>
                                <option value="work-in-progress" {% if task.status=='work-in-progress' %}selected{%
                                    endif %}>🔄 Work in progress</option>
                                <option value="completed" {% if task.status=='completed' %}selected{% endif %}>✅
                                    Completed</option>
                            </select>
                        </td>
                    </tr>
                </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function toggleEditForm(taskId) {
            const editForm = document.getElementById(`edit-form-${taskId}`);
            const taskContent = document.getElementById(`task-content-${taskId}`);
            if (editForm.style.display === 'none') {
                editForm.style.display = 'block';
                taskContent.style.display = 'none';
            } else {
                editForm.style.display = 'none';
                taskContent.style.display = 'block';
            }
        }

        document.getElementById("hamburger-icon").addEventListener("click", function () {
            const menuBar = document.querySelector(".menu-bar");
            if (menuBar.style.display === "none" || menuBar.style.display === "") {
                menuBar.style.display = "block";
            } else {
                menuBar.style.display = "none";
            }
        });
    </script>
</body>

</html>