:root {
    --content-background: #D9D9D9;
    --border-radius: 35px;
    --content-background-dark: #423F3F;
    --site-background: #C3A5A5;
}

body {
    margin: 1%;
    font-family: Inter, sans-serif;
    font-style: italic;
    background-color: var(--site-background);
}
.content{
    display: flex;
}