.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 10px 5px;
    background-color: transparent;
    align-items: center;
}

.navbar-title{
    font-weight: 700;
    font-size: 50px;
    color: white;
}

.navbar-left {
    padding-top: 15px;
    width: 40px;
    height: 40px;
    color: white;
}

#hamburger-icon{
    color: white;
}

#hamburger-icon:hover{
    color: black;
}


.profile-pic {
    height: 40px;
    width: 40px;
}